NET ETHER_CLK		LOC="P89";	#LOC="P91";	#C0 - 20MHz ethernet clock
NET CLK					LOC="P92";	#C1 - 5MHz (or whatever) CPU clock

NET RESET				LOC="P94";	#C2 - board reset
NET READ_OK				LOC="P95";	#C3 - read signal from CPU
NET WRITE_OK			LOC="P98";	#C4 - write signal from CPU
NET ENABLED				LOC="P2"	;	#C5 - enabled signal from CPU
NET READY				LOC="P3"	;	#C6 - ready signal to CPU
NET ETHERNET_IN		LOC="P4"	;	#C7 - ethernet input signal - pull down resistor required?
NET ETHERNET_IN		CLOCK_DEDICATED_ROUTE = FALSE;
NET ETHERNET_OUT		LOC="P5"	;	#C8 - ethernet output signal
NET ETHERTX_ENABLE	LOC="P9"	;	#C9 - ethernet output enable

NET DATA(0)				LOC="P10";	#C10 - data I/O to/from CPU
NET DATA(1)				LOC="P11";	#C11
NET DATA(2)				LOC="P12";	#C12
NET DATA(3)				LOC="P15";	#C13

NET RAM1_ADDR(0)		LOC="P33";	#A3 - RAM1 address
NET RAM1_ADDR(1)		LOC="P35";	#A4
NET RAM1_ADDR(2)		LOC="P40";	#A5
NET RAM1_ADDR(3)		LOC="P53";	#A6
NET RAM1_ADDR(4)		LOC="P57";	#A7
NET RAM1_ADDR(5)		LOC="P60";	#A8
NET RAM1_ADDR(6)		LOC="P62";	#A9
NET RAM1_R1W0			LOC="P16";	#C14 - RAM1 write enable
NET RAM1_CS				LOC="P86";	#A15 - RAM1 chip select
NET RAM1_DATA(0)		LOC="P26";	#A2 - RAM data I/O
NET RAM1_DATA(1)		LOC="P23";	#A1
NET RAM1_DATA(2)		LOC="P18";	#A0
NET RAM1_DATA(3)		LOC="P65";	#A10
NET RAM1_DATA(4)		LOC="P67";	#A11
NET RAM1_DATA(5)		LOC="P70";	#A12
NET RAM1_DATA(6)		LOC="P79";	#A13
NET RAM1_DATA(7)		LOC="P84";	#A14

NET RAM2_ADDR(0)		LOC="P34";	#B12 - RAM2 address
NET RAM2_ADDR(1)		LOC="P36";	#B11
NET RAM2_ADDR(2)		LOC="P41";	#B10
NET RAM2_ADDR(3)		LOC="P54";	#B9
NET RAM2_ADDR(4)		LOC="P58";	#B8
NET RAM2_ADDR(5)		LOC="P61";	#B7
NET RAM2_ADDR(6)		LOC="P63";	#B6
NET RAM2_R1W0			LOC="P17";	#A15 - RAM2 write enable
NET RAM2_CS				LOC="P85";	#B0 - RAM2 chip select
NET RAM2_DATA(0)		LOC="P32";	#B13 - RAM data I/O
NET RAM2_DATA(1)		LOC="P25";	#B14
NET RAM2_DATA(2)		LOC="P22";	#B15
NET RAM2_DATA(3)		LOC="P66";	#B5
NET RAM2_DATA(4)		LOC="P68";	#B4
NET RAM2_DATA(5)		LOC="P71";	#B3
NET RAM2_DATA(6)		LOC="P78";	#B2
NET RAM2_DATA(7)		LOC="P83";	#B1