NET CLK32MHZ	LOC="P89";
NET RESET		LOC="P17";	#C15
NET RESET		CLOCK_DEDICATED_ROUTE=FALSE;

#RAM connections
NET RAM_DATA(0)	LOC="P33";	#A3
NET RAM_DATA(1)	LOC="P26";	#A2
NET RAM_DATA(2)	LOC="P23";	#A1
NET RAM_DATA(3)	LOC="P22";	#B15
NET RAM_DATA(4)	LOC="P25";	#B14
NET RAM_DATA(5)	LOC="P32";	#B13
NET RAM_DATA(6)	LOC="P34";	#B12
NET RAM_DATA(7)	LOC="P18";	#A0 - moved from B11 due to IOB bullshit
NET RAM_ADDR(0)	LOC="P35";	#A4
NET RAM_ADDR(1)	LOC="P40";	#A5
NET RAM_ADDR(2)	LOC="P53";	#A6
NET RAM_ADDR(3)	LOC="P57";	#A7
NET RAM_ADDR(4)	LOC="P60";	#A8
NET RAM_ADDR(5)	LOC="P62";	#A9
NET RAM_ADDR(6)	LOC="P65";	#A10
NET RAM_ADDR(7)	LOC="P67";	#A11
NET RAM_ADDR(8)	LOC="P66";	#B5
NET RAM_ADDR(9)	LOC="P63";	#B6
NET RAM_ADDR(10)	LOC="P54";	#B9
NET RAM_ADDR(11)	LOC="P61";	#B7
NET RAM_ADDR(12)	LOC="P70";	#A12
NET RAM_ADDR(13)	LOC="P68";	#B4
NET RAM_ADDR(14)	LOC="P79";	#A13
NET RAM_R1W0		LOC="P71";	#B3

#RS232 connections
NET TD	LOC="P85";	#B0
NET RD	LOC="P83";	#B1

#CPU connections
NET CLK_CPU			LOC="P91";	#C0
NET CPU_READ		LOC="P92";	#C1
NET CPU_WRITE		LOC="P94";	#C2
NET CPU_CS			LOC="P95";	#C3
NET CPU_PARITY		LOC="P4";	#C7
NET CPU_DATA(0)	LOC="P5";	#C8
NET CPU_DATA(1)	LOC="P9";	#C9
NET CPU_DATA(2)	LOC="P10";	#C10
NET CPU_DATA(3)	LOC="P11";	#C11
NET CPU_READY		LOC="P15";	#C13